/*****************************************************
    Portfolio-static style sheet

    반복되는 스타일을 변수로 정의 --> var() 호출
    변수, 상수 : --변수명,상수명 = 값 정의;
    예) --color--primary = white;

    .header { color: var(--color--primary); }
******************************************************/
:root {
    /* color-list */
    --color-white: #fff;
    --color-black: #050a13;
    --color-accent: #03e9f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;

    /* container size*/
    --max-size-container: 1200px;
}

/*----- Commons(공통) : 폰트, 여백, 패딩.. ----*/
* {
    font-family: 'Open Sans', 'sans-serif';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
button {
    border: 0;
    outline: 0;
}
a {
    text-decoration: none;
}
section, footer {
    padding: 4rem;
    text-align: center;
}
section.container {
    width: var(--max-size-container);
    max-width: 100%;
    margin: auto;
}
.title {
    font-size: 2.5rem;
    margin: 1rem 0;
}
.description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}


/*----- Header start ----*/
.header {
    background-color: var(--color-black);
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}
.header-logo {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-white);
}
.header-logo-img {
    width: 36px;
    height: 36px;
}
.header-logo-title {
    font-size: 1.8rem;
}
ul.header-menu {
    display: flex;
    gap: 4px;
}
a.header-menu-item {
    color: var(--color-white);
    padding: 8px 16px;
}
a.header-menu-item.active {
    border: 1px solid var(--color-accent);
    border-radius: 4px;
}
/*----- Header end ----*/

/*----- Home start ----*/
#home {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 5rem 1rem;
    padding-top: 7rem;
    text-align: center;
}
.home-avatar {
    width: 250px;
    height: 250px;
    border: 5px solid var(--color-accent);
    border-radius: 100%;
}
.home-title {
    font-size: 3rem;
    margin-top: 1rem;
}
.home-title-strong {
    color: var(--color-accent);
}
.home-description {
    font-size: 1.3rem;
}
.home-contact {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 2rem;  /* inline 레벨은 마진 적용 ❌ */
    background-color: var(--color-accent);
    color: var(--color-black);
    border-radius: 4px;
}
/*----- Home end ----*/

/*----- About start ----*/
.majors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 2.5rem 0;
}
.major {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 2rem 1rem;
    border-radius: 1rem;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}
.major-icon {
    font-size: 4rem;
    color: var(--color-accent);
    margin-bottom: 1rem;
}
.major-title {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 0;
}
.jobs {
    text-align: start;
}
.job {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
}
/*----- About end ----*/

/*----- Skills start ----*/
#skills {
    background-color: var(--color-gray);
    color: var(--color-white);
}
.skills {
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: 2rem 0;
    border-radius: 8px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
    overflow: hidden;
}
.skills-title {
    color: var(--color-accent);
    font-size: 1.2rem;
    margin: 1rem 0;
}
.skills-coding {
    grid-row: span 2;
    background-color: var(--color-black);
    padding: 1rem;
}
.skills-tools {
    padding: 1rem;
}
.skills-etc {
    padding: 1rem;
    background-color: var(--color-black);
    filter: brightness(170%);
}
.bar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}
.bar-title {
    display: flex;
    justify-content: space-between;
}
.bar-bg {
    width: 100%;
    height: 3px;
    background-color: var(--color-gray);
}
.bar-value {
    background-color: var(--color-accent);
    height: 3px;
}
.bar-value.html { width: 98%; }
.bar-value.css { width: 90%; }
.bar-value.javascript { width: 90%; }
.bar-value.typescript { width: 80%; }
.bar-value.react { width: 79%; }
.bar-value.nodejs { width: 68%; }

/*----- Skills end ----*/

/*----- Work start ----*/
#work {
    background-color: var(--color-black);
    color: var(--color-white);
}
.categories {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2.5rem 0;
}
.category {
    color: var(--color-white);
    padding: 0.5rem 3rem;
    font-size: 1.1rem;
    border: 1px solid var(--color-accent);
    border-radius: 4px;
    background-color: var(--color-black);
    position: relative;
}
.category-count {
    position: absolute;
    top: -20px;
    left: 16px;
    background-color: var(--color-orange);
    color: var(--color-white);
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    opacity: 0;
    transition: all 1000ms ease;
}
.category:hover .category-count {
    opacity: 1;
    top: 0;
}
.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}
.project {
    position: relative;
    overflow: hidden;
}
.project-img {
    width: 100%;
    border-radius: 8px;
}
.project-meta {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    color: var(--color-white);
}
.project-meta:hover {
    opacity: .8;
}
/*----- Work end ----*/

/*----- Testimonials start ----*/
.testimonials {
    margin: 3rem;
}
.testimonial {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}
.testimonial:nth-child(even) .testimonial-img{
    order: 1;
}
.testimonial-img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}
.testimonial-text {
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}
.testimonial-text-name {
    color: var(--color-accent);
    display: inline-block;
    margin-top: 0.5rem;
    font-weight: 500;
}
.testimonial-text-company {
    color: var(--color-black);
    font-size: .9rem;

}
/*----- Testimonials end ----*/

/*----- Arrow-up start ----*/
.arrow-up {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    color: var(--color-white);
    font-size: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    background-color: var(--color-black);
    text-align: center;
    box-shadow: 5px 5px 0px 0px var(--color-accent);
}
/*----- Arrow-up end ----*/

/*----- footer start ----*/
#contact {
    background-color: var(--color-black);
    color: var(--color-white);
}
.contact-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 2rem;
    padding: 1rem;
}
.contact-link {
    color: var(--color-white);
}
.contact-link:hover {
    color: var(--color-accent);
}
/*----- footer end ----*/